Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in lume_services
      files: ^lume_services

Remove redundant lume-base
  environment.yml
Due: none

Check in all WIP docs
  docs/config.md
  docs/demo.md
  docs/developer/docker_image.md
  docs/developer/documentation.md
  docs/developer/services/file.md
  docs/developer/services/models.md
  docs/developer/services/scheduling.md
  docs/developer/setup.md
  docs/developer/testing.md
  docs/developer/todo.md
  docs/files/docker_architecture.png
  docs/index.md
  docs/model_packaging.md
  docs/services/models.md
  docs/workflows.md
Due: none

Fix badge
  README.md
Due: none

Use latest badge action
  .github/workflows/tests.yml
Due: none

Use for the badge styling
  README.md
Due: none

Fix badge format
  README.md
Due: none

fix badge
  README.md
Due: none

Drop the parenthesis
  README.md
Due: none

Fix url formatting for style
  README.md
Due: none

Remove brackets
  README.md
Due: none

Only create badge if running on slaclab
  .github/workflows/tests.yml
Due: none

Fix workflow badge labels
  README.md
Due: none

Use slaclab release link
  README.md
Due: none

Check in WIP docs
  docs/developer/documentation.md
  docs/index.md
  docs/workflows.md
Due: none

Fix docs badge
  README.md
  docs/index.md
Due: none

Drop scheduling service specific tests
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

Fix paths in yaml
  mkdocs.yml
Due: none

Rename docker cli
  lume_services/cli/docker_compose.py
Due: black, flake8

Update docker compose configuration to use checks on spin up
  lume_services/docker/compose.py
  lume_services/docker/files/docker-compose.yml
Due: black, flake8

Set port to int
  lume_services/services/models/db/mysql.py
Due: black, flake8

Move Prefect config test to config test
  lume_services/tests/test_config.py
Due: black, flake8

Consolidate fixtures to use docker checks
  conftest.py
  lume_services/tests/fixtures/docker.py
  lume_services/tests/fixtures/services/models.py
  lume_services/tests/fixtures/services/results.py
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Add docstring to mongodb config
  lume_services/services/results/mongodb.py
Due: black, flake8

Clean up docker-compose command
  lume_services/cli/docker_compose.py
Due: black, flake8

Add console script to setup.py
  setup.py
Due: black

Fix compose fixture
  conftest.py
  lume_services/tests/fixtures/docker.py
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Update tests to use appropriate fixtures
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/test_config.py
Due: black, flake8

Remove docs requirement
  dev-requirements.txt
Due: none

Remove unused client attr
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Check in updated flows and compose
  lume_services/docker/compose.py
  lume_services/flows/flow.py
  lume_services/flows/flow_of_flows.py
Due: black, flake8

Add labels to flow of flows yaml
  lume_services/tests/files/flow_of_flows.yaml
Due: none

move to parameters
  lume_services/services/scheduling/backends/backend.py
  lume_services/services/scheduling/backends/server.py
  lume_services/services/scheduling/service.py
  lume_services/tests/scheduling/test_backends.py
Due: black, flake8

Add env into ui
  lume_services/docker/files/docker-compose.yml
Due: none

Check in WIP flows
  lume_services/flows/flow.py
  lume_services/flows/flow_of_flows.py
Due: black, flake8

Combine service updates
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Update result test
  lume_services/tests/test_results.py
Due: black, flake8

Apply lume_services settings at beginning of scheduling tests
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Use scoped contexts for config tests
  lume_services/tests/test_config.py
Due: black, flake8

Use a deep copy for new config
  lume_services/tests/test_config.py
Due: black, flake8
