Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in lume_services
      files: ^lume_services

Remove dependency methods
  lume_services/services/models/service.py
Due: black, flake8

Remove resolution from config
  lume_services/config.py
Due: black, flake8

Remove solver tests
  lume_services/tests/test_models.py
Due: black, flake8

Complete new installation and inspection
  lume_services/environment/__init__.py
  lume_services/environment/solver.py
Due: black, flake8

Refactor all to use image
  lume_services/docker/files/environment.yml
  lume_services/flows/flow.py
  lume_services/models/model.py
  lume_services/services/scheduling/service.py
Due: black, flake8

Update schema
  docs/demo.md
  lume_services/docker/files/model-db-init.sql
  lume_services/services/models/db/__init__.py
  scripts/update_docker_compose_schema.py
Due: black, flake8

Check in requirements with pkginfo
  dev-environment.yml
  lume_services/docker/files/environment.yml
  requirements.txt
Due: none

Check in solver and env
  dev-environment.yml
  lume_services/docker/files/environment.yml
  lume_services/environment/solver.py
  requirements.txt
Due: black, flake8

Check in results db
  lume_services/services/results/mongodb.py
Due: black, flake8

Fix check in
  lume_services/services/results/mongodb.py
Due: black, flake8

Fix client scope
  lume_services/services/results/mongodb.py
Due: black, flake8

Fix tests
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Remove conda
  lume_services/environment/CONDA_LICENSE.txt
  lume_services/environment/solver.py
Due: black, flake8

Remove conda
  dev-environment.yml
  requirements.txt
Due: none

Remove empty test file
  lume_services/tests/test_db_schema.py
Due: black, flake8

Correct schema
  lume_services/services/models/db/schema.py
Due: black, flake8

Check in docs
  docs/demo.md
  docs/developer/todo.md
  docs/index.md
Due: none

Remove connect kwarg
  lume_services/tests/test_results.py
Due: black, flake8

Check in config table build
  scripts/build_configuration_table.py
Due: black

Remove data files
  setup.py
Due: black

Check in uninstaller
  lume_services/environment/solver.py
Due: black, flake8

Try removing exclusion
  setup.py
Due: black

Check in setup
  setup.py
Due: black

Check in setup and manifest
  MANIFEST.in
  setup.py
Due: black

Updated
  setup.py
Due: black

Add importlib metadata to requiremnts
  lume_services/docker/files/environment.yml
  requirements.txt
Due: none

Update env
  dev-environment.yml
  lume_services/docker/files/docker-compose.yml
  lume_services/environment/solver.py
Due: black, flake8

Clean up mount and solver
  lume_services/docker/files/docker-compose.yml
  lume_services/environment/solver.py
Due: black, flake8

Fix arbitrary_types_allowed argument
  lume_services/results/generic.py
Due: black, flake8

Check in utilities and corrected validation
  lume_services/results/generic.py
  lume_services/utils.py
Due: black, flake8

Update results test
  lume_services/tests/test_results.py
Due: black, flake8

Start using docker compose
  lume_services/cli/docker_compose.py
  lume_services/docker/compose.py
Due: black, flake8

Remove extra things from run config
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Add jsonable dict method
  lume_services/utils.py
Due: black, flake8

Check in result with jsonable dict
  lume_services/results/generic.py
Due: black, flake8

Check in service w jsonable dict
  lume_services/results/generic.py
  lume_services/services/results/service.py
Due: black, flake8

Use fixture for query
  lume_services/tests/test_results.py
Due: black, flake8

Use fixture for impact result
  lume_services/tests/test_results.py
Due: black, flake8

Check in fixtures
  lume_services/tests/test_results.py
Due: black, flake8

Check in corrected fixtures
  lume_services/tests/test_results.py
Due: black, flake8
