Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Cleaning up workflows
  .github/workflows/build_docs.yml
  .github/workflows/tests.yml
  README.md
Due: none

Add release badge
  README.md
Due: none

Fix url
  README.md
Due: none

Fix readme formatting
  README.md
Due: none

Fix badges
  README.md
Due: none

Check in diagrams
  docs/diagrams/cswg_gantt.py
  docs/diagrams/docker.py
  docs/diagrams/kubernetes.py
Due: black

Move diagrams
  scripts/diagrams/cswg_gantt.py
  scripts/diagrams/developer.py
  scripts/diagrams/docker.py
  scripts/diagrams/kubernetes.py
  scripts/diagrams/services.py
Due: black

Set up bridge between prefect and server
  lume_services/docker/files/docker-compose.yml
Due: none

Fix docker diagram
  scripts/diagrams/docker.py
Due: black

Fix png handling
  scripts/build_uml.sh
  scripts/diagrams/docker.py
Due: black

Check in dev docs
  docs/developer/cluster.md
  docs/developer/services/models.md
Due: none

Check in file name change
  mkdocs.yml
Due: none

Remove notes
  docs/notes.md
Due: none

Remove notes from mkdocs
  mkdocs.yml
Due: none

Pin prefect less than 2
  dev-environment.yml
  environment.yml
  requirements.txt
Due: none

Reset labels on server backend
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Correct backend fixture scoping
  lume_services/tests/scheduling/test_backends.py
Due: black, flake8

Fix flow fixture scoping
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Check in developer docs
  docs/developer/configuration.md
  docs/developer/todo.md
  mkdocs.yml
Due: none

Check in config api
  docs/api/config.md
Due: none

Check in index
  docs/index.md
Due: none

Add init ignore
  .flake8
Due: none

Add docstrings for mapped parameter
  lume_services/flows/flow.py
Due: black, flake8

Backend server in entrypoint
  entrypoint.sh
Due: none

Check in compose before removing extraneous env vars
  lume_services/docker/files/docker-compose.yml
Due: none

Check in WIP compose
  lume_services/docker/compose.py
Due: black, flake8

Check in docker cli
  lume_services/cli/cli.py
  lume_services/cli/docker.py
Due: black, flake8

Check in agent settings
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Check in agent settings
  lume_services/config.py
Due: black, flake8

Check in updated conftest
  conftest.py
  pytest.ini
Due: black

Check in updated services fixtures
  lume_services/tests/fixtures/services/results.py
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Update docs
  docs/demo.md
  docs/examples/flow.ipynb
  docs/files/docker_architecture.png
  docs/workflows.md
Due: none

Build diagram artifacts
  .github/workflows/build_docs.yml
Due: none

Drop postgres config
  lume_services/docker/files/docker-compose.yml
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

remove postgres refs
  conftest.py
  lume_services/tests/fixtures/services/results.py
  lume_services/tests/fixtures/services/scheduling.py
  pytest.ini
Due: black, flake8

Drop mermaid
  dev-environment.yml
Due: none

Drop postgres
  lume_services/tests/fixtures/docker.py
  lume_services/tests/test_config.py
Due: black, flake8

Drop postgres
  docs/config.md
  docs/demo.md
Due: none

Remove postgres
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

Drop graphql config
  lume_services/tests/fixtures/docker.py
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/test_config.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^lume_services and \.py$
