Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in lume_services
      files: ^lume_services

Use pip installation of lume-base
  .github/workflows/build_docs.yml
  requirements.txt
Due: none

Fix installation path
  .github/workflows/build_docs.yml
Due: none

Add graphviz to requirements
  requirements.txt
Due: none

Fix branch for pushing diagrams
  .github/workflows/build_docs.yml
Due: none

Automatically updated using GitHub Actions
  docs/files/model_db_schema.png
  docs/files/model_db_uml.png
Due: none

Implement Kubernetes backend
  .pre-commit-config.yaml
  lume_services/scheduling/prefect/backends/__init__.py
  lume_services/scheduling/prefect/backends/kubernetes.py
  lume_services/scheduling/prefect/files/__init__.py
  lume_services/scheduling/prefect/files/kubernetes_job.yaml
Due: black, flake8

Check in conftest
  .pre-commit-config.yaml
  conftest.py
Due: black

Format version
  lume_services/_version.py
Due: black, flake8

Check in formatted data services
  lume_services/data/file/__init__.py
  lume_services/data/file/serializers/__init__.py
  lume_services/data/file/serializers/yaml.py
  lume_services/data/file/service.py
  lume_services/data/file/systems/__init__.py
  lume_services/data/file/systems/filesystem.py
  lume_services/data/file/systems/local.py
  lume_services/data/model/__init__.py
  lume_services/data/model/db/__init__.py
  lume_services/data/model/db/db_service.py
  lume_services/data/model/db/mysql.py
  lume_services/data/model/model_service.py
  lume_services/data/model/utils.py
  lume_services/data/results/db/mongodb/document.py
  lume_services/data/results/db/mongodb/models/__init__.py
  lume_services/data/results/results_service.py
Due: black, flake8

Check in api docs
  mkdocs.yml
Due: none

Check in flake config
  .flake8
Due: none

Include template files
  MANIFEST.in
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/setup.py
Due: black, flake8

Check in serializers
  lume_services/data/file/serializers/__init__.py
  lume_services/data/file/serializers/text.py
Due: black, flake8

Remove old model schema diagrams
  docs/files/model_schema.drawio
  docs/files/model_schema.drawio.png
Due: none

Check in flow_of_flows schema
  docs/api/modeling.md
  docs/developer.md
  docs/file_service.md
  docs/files/synchronous_snapshot.drawio
  docs/files/synchronous_snapshot.drawio.png
  docs/model_packaging.md
  docs/results_service.md
  docs/template.md
  lume_services/data/file/systems/__init__.py
  lume_services/data/model/db/__init__.py
  lume_services/data/model/db/schema.py
  lume_services/data/model/model_service.py
Due: black, flake8

Check in results with comments
  lume_services/scheduling/prefect/results/__init__.py
  lume_services/scheduling/prefect/results/db.py
  lume_services/scheduling/prefect/results/file.py
Due: black, flake8

Check in versioneer and todo
  TODO.md
  versioneer.py
Due: black

Check in setup script w/ formatting
  setup.py
Due: black

Add yaml dep
  requirements.txt
Due: none

Update schema
  lume_services/data/model/db/schema.py
Due: black, flake8

Check in modeling service
  lume_services/data/model/db/__init__.py
  lume_services/data/model/model_service.py
Due: black, flake8

Check in backends
  lume_services/scheduling/prefect/backends/__init__.py
  lume_services/scheduling/prefect/backends/backend.py
  lume_services/scheduling/prefect/backends/kubernetes.py
  lume_services/scheduling/prefect/backends/local.py
Due: black, flake8

Comment schema docs for now
  .github/workflows/build_docs.yml
Due: none

Fix replacement
  lume_services/scheduling/prefect/backends/kubernetes.py
Due: black, flake8

Correct query remove ordering
  lume_services/data/model/db/schema.py
  lume_services/data/model/model_service.py
Due: black, flake8

Correct file service function
  lume_services/data/file/service.py
Due: black, flake8

Check in db result
  lume_services/scheduling/prefect/results/db.py
Due: black, flake8

Check in Prefect template
  lume_services/scheduling/prefect/files/kubernetes_job.yaml
Due: none

Check in tests
  lume_services/tests/cli/__init__.py
  lume_services/tests/data/file/test_local_filesystem.py
  lume_services/tests/data/file/test_mounted_filesystem.py
  lume_services/tests/data/results/test_flow_result.py
  lume_services/tests/data/results/test_mongodb.py
  lume_services/tests/data/results/test_result_documents.py
  lume_services/tests/data/test_model.py
  lume_services/tests/plugins/mysql.py
  lume_services/tests/scheduling/backends/__init__.py
  lume_services/tests/scheduling/backends/test_kubernetes_backend.py
  lume_services/tests/scheduling/test_config.py
  lume_services/tests/scheduling/test_filesystem_results.py
  lume_services/tests/scheduling/test_kubernetes_job_config.py
  lume_services/tests/scheduling/test_results.py
  lume_services/tests/test_context.py
Due: black, flake8

Check in kubernetes suffixes with B
  lume_services/scheduling/prefect/backends/kubernetes.py
Due: black, flake8

Check in documentation and doc config
  docs-requirements.txt
  docs/api/modeling.md
  docs/api/scheduling.md
  docs/api/scheduling/backends.md
  docs/api/scheduling/backends/kubernetes.md
  docs/api/scheduling/backends/local.md
  docs/app_file_structure.md
  docs/config.md
  docs/files/services/scheduling_service.drawio
  docs/files/services/scheduling_service.drawio.png
  docs/files/services/synchronous_snapshot(4).drawio
  docs/files/services/synchronous_snapshot.drawio(4).png
  docs/files/synchronous_snapshot.drawio
  docs/scheduling_service.md
  mkdocs.yml
Due: none

Format mounted fs
  lume_services/data/file/systems/mounted.py
Due: black, flake8

Update docs
  docs/api/data/file_service.md
  docs/api/scheduling/backends.md
  docs/api/scheduling/backends/kubernetes.md
  docs/api/scheduling/backends/local.md
  docs/file_service.md
  docs/files/services/file_service.drawio
  docs/files/services/file_service.drawio.png
  docs/files/services/filesystem.drawio
  docs/files/services/filesystem.drawio.png
  docs/files/services/scheduling_service.drawio
  docs/files/services/scheduling_service.drawio.png
  mkdocs.yml
Due: none

Fix model registry in docs
  docs/model_registry.md
  mkdocs.yml
Due: none

Restructure docs
  docs/developer/developer.md
  docs/services/file_service.md
  docs/services/hpc_service.md
  docs/services/modeling_service.md
  docs/services/results_service.md
  docs/services/scheduling_service.md
Due: none

Check in updated mkdocs
  mkdocs.yml
Due: none

Move into api subdir
  docs/api/scheduling/scheduling.md
Due: none
