Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in lume_services
      files: ^lume_services

Check in files
  lume_services/tests/files/__init__.py
  lume_services/tests/files/flow_of_flows.yaml
  lume_services/tests/files/flows/flow3.py
Due: black, flake8

Correct service imports
  lume_services/services/scheduling/__init__.py
  lume_services/services/scheduling/service.py
Due: black, flake8

Fix test workflow
  .github/workflows/tests.yml
Due: none

Use task subclass for greater configurability
  lume_services/services/scheduling/tasks/__init__.py
  lume_services/services/scheduling/tasks/db.py
  lume_services/services/scheduling/tasks/file.py
Due: black, flake8

check in working flow tests
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Check in flow files
  lume_services/tests/files/flows/flow1.py
  lume_services/tests/files/flows/flow2.py
  lume_services/tests/files/flows/flow3.py
Due: black, flake8

add attribute and attribute index to flow yaml
  lume_services/tests/files/flow_of_flows.yaml
Due: none

check in workflow code
  docs/workflows.md
Due: none

Remove redundant click
  requirements.txt
Due: none

Add unique hash get to results init
  lume_services/data/results/__init__.py
Due: black, flake8

Move check for flow id
  lume_services/data/results/generic.py
Due: black, flake8

Add docker compose
  lume_services/docker/files/docker-compose.yml
Due: none

Check in flow cleanup
  lume_services/services/scheduling/__init__.py
  lume_services/services/scheduling/backends/__init__.py
  lume_services/services/scheduling/backends/backend.py
  lume_services/services/scheduling/backends/docker.py
  lume_services/services/scheduling/backends/kubernetes.py
  lume_services/services/scheduling/backends/local.py
  lume_services/services/scheduling/schema/flow_of_flows_schema.py
  lume_services/services/scheduling/tasks/__init__.py
  lume_services/services/scheduling/tasks/configure.py
  lume_services/services/scheduling/tasks/db.py
  lume_services/services/scheduling/tasks/file.py
Due: black, flake8

check in tasks
  lume_services/tests/scheduling/test_tasks.py
Due: black, flake8

Rename flows file
  lume_services/services/scheduling/flows.py
  lume_services/services/scheduling/schema/__init__.py
Due: black, flake8

Fix modeling command
  lume_services/cli/cli.py
  lume_services/cli/modeling.py
  lume_services/cli/modeling/__init__.py
Due: black, flake8

add workflows to docs
  mkdocs.yml
Due: none

Check in docs
  docs/developer/prefect.md
  docs/developer/services/scheduling.md
  docs/developer/testing.md
  docs/diagrams/developer.py
  docs/diagrams/kubernetes.py
  docs/diagrams/services.py
  docs/model_packaging.md
  docs/services/file_service.md
  docs/services/results_db_service.md
  docs/todo.md
Due: black

Remove unused files
  lume_services/tests/scheduling/test_config.py
  lume_services/tests/scheduling/test_kubernetes_job_config.py
Due: black, flake8

Consolidate flows
  lume_services/services/scheduling/flows.py
Due: black, flake8

Correct configuration
  lume_services/services/scheduling/__init__.py
Due: black, flake8

Cleanup scheduling
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Check in WIP scheduling service
  lume_services/services/scheduling/service.py
Due: black, flake8

Move flows
  lume_services/flows/flows.py
Due: black, flake8

Check in flows
  lume_services/flows/__init__.py
  lume_services/flows/flow_of_flows.py
  lume_services/flows/flows.py
Due: black, flake8

Rename flow
  lume_services/flows/flow.py
Due: black, flake8

Check in flow changes
  lume_services/flows/flow.py
Due: black, flake8

Check in scheduling service
  lume_services/services/scheduling/service.py
Due: black, flake8

Check in scheduling tests
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

use docker client naming
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Check in test config
  lume_services/tests/test_config.py
Due: black, flake8

Fix flow of flows yaml
  lume_services/tests/files/flow_of_flows.yaml
Due: none

Check in updated backends
  lume_services/services/scheduling/backends/backend.py
  lume_services/services/scheduling/backends/docker.py
  lume_services/services/scheduling/backends/kubernetes.py
  lume_services/services/scheduling/backends/local.py
Due: black, flake8

Use create_flow_run convention
  lume_services/flows/flow.py
Due: black, flake8

Correct test workflow
  .github/workflows/tests.yml
Due: none

Prefect missing from env
  environment.yml
Due: none

Check in requirements
  dev-requirements.txt
  requirements.txt
Due: none

Check in docker files
  Dockerfile
  entrypoint.sh
Due: none

Allow arbitrary types
  lume_services/flows/flow.py
Due: black, flake8

Drop data directory
  lume_services/data/__init__.py
  lume_services/files/__init__.py
  lume_services/files/serializers/__init__.py
  lume_services/files/serializers/image.py
  lume_services/files/serializers/text.py
  lume_services/files/serializers/yaml.py
  lume_services/results/__init__.py
  lume_services/results/generic.py
  lume_services/results/impact.py
  lume_services/services/data/__init__.py
  lume_services/services/files/__init__.py
  lume_services/services/files/filesystems/__init__.py
  lume_services/services/files/filesystems/filesystem.py
  lume_services/services/files/filesystems/local.py
  lume_services/services/files/filesystems/mounted.py
  lume_services/services/files/service.py
  lume_services/services/models/__init__.py
  lume_services/services/models/db/__init__.py
  lume_services/services/models/db/db.py
  lume_services/services/models/db/mysql.py
  lume_services/services/models/db/schema.py
  lume_services/services/models/model_service.py
  lume_services/services/models/utils.py
  lume_services/services/results/__init__.py
  lume_services/services/results/db.py
  lume_services/services/results/mongodb.py
Due: black, flake8
