Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in lume_services
      files: ^lume_services

Change load to load_flow to be explicit
  lume_services/flows/flow.py
  lume_services/flows/flow_of_flows.py
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Save image name
  lume_services/flows/flow_of_flows.py
Due: black, flake8

Fix compose in flow of flows test
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Fix prefect context in flow of flows
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Add flow_id to load
  lume_services/flows/flow.py
  lume_services/services/scheduling/backends/backend.py
  lume_services/services/scheduling/backends/docker.py
  lume_services/services/scheduling/backends/kubernetes.py
  lume_services/services/scheduling/backends/server.py
  lume_services/services/scheduling/service.py
Due: black, flake8

Use context for all flow of flows ops
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Update docs
  docs-requirements.txt
  docs/cli.md
  docs/config.md
  docs/demo.md
  docs/developer/configuration.md
  docs/developer/services/scheduling.md
  docs/developer/todo.md
  docs/examples/flow_of_flows.ipynb
  docs/index.md
  docs/services/files.md
  docs/services/scheduling.md
  docs/workflows.md
  mkdocs.yml
Due: none

Check in cli
  docs/cli.md
  lume_services/cli/cli.py
  lume_services/cli/docker_compose.py
Due: black, flake8

Check in flow of flows skip
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Check in slaclab
  .github/workflows/build_docs.yml
Due: none

Check in mkdocs
  mkdocs.yml
Due: none

Check in configuration task and variable format with docstrings
  lume_services/tasks/configure.py
Due: black, flake8

Remove misplaced file
  docs/api/models/models.md
Due: none

Cleaning up docstrings
  docs/api/models.md
  docs/api/tasks.md
  docs/developer/services/models.md
  docs/workflows.md
  lume_services/flows/flow.py
  lume_services/flows/flow_of_flows.py
  lume_services/services/models/db/mysql.py
Due: black, flake8

Clean up task docstrings
  lume_services/tasks/__init__.py
  lume_services/tasks/configure.py
  lume_services/tasks/db.py
Due: black, flake8

Check in mkdocs.yml
  mkdocs.yml
Due: none

Change task name to configure_lume_services
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/scheduling/test_tasks.py
Due: black, flake8

Drop attribute index
  lume_services/tests/files/flow_of_flows.yaml
Due: none

Use inference for values
  lume_services/config.py
Due: black, flake8

Remove tuple wrapping
  lume_services/config.py
Due: black, flake8

Drop cookiecutter templating
  lume_services/models/templating/__init__.py
  lume_services/models/templating/build.py
  lume_services/models/templating/template/cookiecutter.json
  lume_services/models/templating/template/hooks/post_gen_project.sh
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/.github/workflows/build_docs.yml
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/.github/workflows/build_flow_docker.yml
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/.github/workflows/tests.yml
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/MANIFEST.in
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/README.md
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/dev-environment.yml
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/dev-requirements.txt
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/environment.yml
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/requirements.txt
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/scripts/__init__.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/scripts/build_viz.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/setup.cfg
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/setup.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/__init__.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/config.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/files/__init__.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/files/variables.yml
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/flow/Dockerfile
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/flow/__init__.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/flow/_entrypoint.sh
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/flow/flow.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/model.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/tests/__init__.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/tests/test_entrypoints.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/tests/test_flow.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/tests/test_model.py
  lume_services/models/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/tests/test_tasks.py
Due: black, flake8

Break up content generation in docs
  .github/workflows/build_docs.yml
  docs/files/env_vars.md
Due: none

Check in configuration table build script
  scripts/build_configuration_table.py
Due: black

Check in macros
  dev-environment.yml
  docs-requirements.txt
  mkdocs.yml
Due: none

Use configure_lume_services in flows
  lume_services/tests/files/flows/flow1.py
  lume_services/tests/files/flows/flow2.py
Due: black, flake8

Change signature for example
  lume_services/tasks/db.py
Due: black, flake8

Complete db task documentation
  lume_services/tasks/db.py
Due: black, flake8

Fix test and doc link
  README.md
Due: none

Fix references to result
  lume_services/tasks/db.py
Due: black, flake8

Expound on db+file tasks
  lume_services/tasks/db.py
  lume_services/tasks/file.py
Due: black, flake8

Update configure docstring
  lume_services/tasks/configure.py
Due: black, flake8

Update docs
  docs/config.md
  docs/index.md
  docs/model_packaging.md
Due: none

Fix typing on for attr index
  lume_services/flows/flow.py
  lume_services/tasks/db.py
Due: black, flake8

Update tasks
  lume_services/tasks/__init__.py
  lume_services/tasks/configure.py
  lume_services/tasks/file.py
Due: black, flake8

Add check task to init
  lume_services/tasks/__init__.py
Due: black, flake8

Check in tasks with dict parameters
  lume_services/tasks/db.py
  lume_services/tasks/file.py
Due: black, flake8

Fix configuration to use list of filesystems
  lume_services/config.py
  lume_services/tasks/configure.py
  scripts/build_configuration_table.py
Due: black, flake8

Fix config tests
  lume_services/tests/test_config.py
Due: black, flake8

Fix compose
  lume_services/flows/flow_of_flows.py
Due: black, flake8

Add lume-model to requirements
  dev-environment.yml
  environment.yml
Due: none
