Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in lume_services
      files: ^lume_services

Update task not in flow error
  lume_services/errors.py
Due: black, flake8

Correct flow run handling
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Move scripts out of main
  scripts/build_schema_diagrams.py
Due: black

Build image and use built label
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Update docker and pytest
  Dockerfile
  MANIFEST.in
  pytest.ini
Due: none

Update conftest with new env vars
  conftest.py
Due: black

Fix prefect import
  lume_services/config.py
Due: black, flake8

Fix host port
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Check in docker-compose
  lume_services/docker/files/docker-compose.yml
Due: none

Import prefect configs
  lume_services/services/scheduling/__init__.py
Due: black, flake8

Fix imports
  lume_services/services/scheduling/backends/__init__.py
Due: black, flake8

Drop schema display
  environment.yml
Due: none

Update docker fixture
  lume_services/tests/fixtures/docker.py
Due: black, flake8

Check in api docs
  docs/api/data/files.md
  docs/api/data/files/serializers.md
  docs/api/data/results.md
  docs/api/services/data/files/file_service.md
  docs/api/services/data/files/filesystems.md
  docs/api/services/data/models.md
  docs/api/services/data/results.md
  docs/developer/data.md
Due: none

Rename files doc
  docs/api/files/serializers.md
Due: none

Drop old api files
  docs/api/data/files.md
  docs/api/data/results.md
Due: none

Move files service
  docs/api/services/files/file_service.md
  docs/api/services/files/filesystems.md
Due: none

Drop file service
  docs/api/services/files/file_service.md
Due: none

Check in service docs
  docs/api/services/models.md
  docs/api/services/results.md
Due: none

Check in postreg config and tag
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Add scheduling service to configuration
  lume_services/config.py
Due: black, flake8

Check in passing test config
  lume_services/tests/test_config.py
Due: black, flake8

Check in model service with errors
  lume_services/services/models/model_service.py
Due: black, flake8

Fix inclusion of kubernetes file
  MANIFEST.in
Due: none

Fix conftest fixtures
  conftest.py
Due: black

Check in updated errors
  lume_services/errors.py
Due: black, flake8

Remove fixture imports
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/scheduling/test_scheduling_service.py
  lume_services/tests/scheduling/test_tasks.py
Due: black, flake8

Add checking of prefect settings and remove fixture import
  lume_services/tests/test_config.py
Due: black, flake8

Fix fixture imports
  lume_services/tests/test_files.py
  lume_services/tests/test_filesystems.py
  lume_services/tests/test_models.py
  lume_services/tests/test_results.py
Due: black, flake8

Fix mounted filesystem import
  lume_services/tests/fixtures/docker.py
Due: black, flake8

Check in scheduling service
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Define run config in flow tests
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Use session fixture for run config
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Add flows to config wiring
  lume_services/config.py
Due: black, flake8

Rename local filesystem fixture
  conftest.py
Due: black

Rename filesystem fixtures
  lume_services/tests/fixtures/services/files.py
Due: black, flake8

Rename local filesystem fixture
  lume_services/tests/test_config.py
Due: black, flake8

Correct backend test
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

Use local fixtures for filesystems
  lume_services/tests/test_filesystems.py
Due: black, flake8

Check in flows
  lume_services/flows/flow.py
  lume_services/flows/flow_of_flows.py
Due: black, flake8
