Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in lume_services
      files: ^lume_services

Move into modeling subdir
  docs/api/modeling/modeling.md
Due: none

Move file service into subdir
  docs/api/data/files/file_service.md
Due: none

Check in files api data
  docs/api/data/files/file_service.md
  docs/api/data/files/filesystems.md
Due: none

Check in
  docs/api/data/files/file_service.md
Due: none

Rename for consistency
  docs/api/data/file/file_service.md
  docs/api/data/file/filesystems.md
Due: none

Update mkdocs config"
  mkdocs.yml
Due: none

Check in template
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/.github/workflows/build_docs.yml
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/MANIFEST.in
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/README.md
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/requirements.txt
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/scripts/__init__.py
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/scripts/build_viz.py
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/flow/flow.py
Due: black, flake8

Check in all scheduling WIP
  lume_services/scheduling/__init__.py
  lume_services/scheduling/prefect/__init__.py
  lume_services/scheduling/prefect/backends/local.py
  lume_services/scheduling/prefect/config.py
  lume_services/scheduling/scheduling_service.py
  lume_services/scheduling/schema/__init__.py
  lume_services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Check in flow logic WIP
  lume_services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Check in updated config
  .flake8
  lume_services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Check in flow of flows schema with completed compose method
  lume_services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Check in schema corrections
  lume_services/scheduling/prefect/config.py
Due: black, flake8

Drop name from schema
  lume_services/scheduling/schema/__init__.py
  lume_services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Check in flow-of-flows with flow loading
  lume_services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Check in compose_and_register
  lume_services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Add module storage to template
  lume_services/modeling/templating/template/{{ cookiecutter.repo_name }}/{{ cookiecutter.project_slug }}/flow/flow.py
Due: black, flake8

Check in init files
  .pre-commit-config.yaml
  lume_services/data/file/__init__.py
  lume_services/data/file/systems/__init__.py
  lume_services/data/model/__init__.py
  lume_services/scheduling/prefect/backends/__init__.py
Due: black, flake8

Check in results
  lume_services/scheduling/prefect/results/__init__.py
  lume_services/scheduling/prefect/results/file.py
  lume_services/scheduling/schema/__init__.py
  lume_services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Fix pyyaml requirement
  requirements.txt
Due: none

Check in utils
  lume_services/utils.py
Due: black, flake8

Check in util improvements
  lume_services/tests/test_utils.py
  lume_services/utils.py
Due: black, flake8

Check in updated kwarg parsing
  lume_services/tests/test_utils.py
  lume_services/utils.py
Due: black, flake8

Completed loading utils and testing
  lume_services/tests/test_utils.py
  lume_services/utils.py
Due: black, flake8

Remove redundanct docs stuff
  docs-requirements.txt
Due: none

Minor corrections to utils sig parsing
  lume_services/utils.py
Due: black, flake8

Add distributed fixtures
  conftest.py
Due: black

Check in bug fixes
  lume_services/utils.py
Due: black, flake8

Check in conftest and files
  conftest.py
  lume_services/tests/files/__init__.py
  lume_services/tests/files/docker-compose.yml
  lume_services/tests/plugins/LICENSE
  lume_services/tests/plugins/__init__.py
  lume_services/tests/plugins/mysql.py
Due: black, flake8

Check in fixture setup
  lume_services/tests/fixtures/LICENSE_docker.txt
  lume_services/tests/fixtures/__init__.py
  lume_services/tests/fixtures/docker.py
  lume_services/tests/fixtures/scheduling.py
  lume_services/tests/fixtures/services.py
Due: black, flake8

Set up the pydantic file result class
  lume_services/scheduling/prefect/results/file.py
Due: black, flake8

Check in fixtures
  lume_services/tests/fixtures/services.py
Due: black, flake8

Add test for mysql connection
  lume_services/tests/fixtures/services.py
Due: black, flake8

Order imports
  lume_services/tests/fixtures/services.py
Due: black, flake8

Fix mysql startup
  lume_services/tests/fixtures/services.py
Due: black, flake8

Check in pydantic file result
  lume_services/scheduling/prefect/results/__init__.py
  lume_services/scheduling/prefect/results/file.py
Due: black, flake8

Check in test of file result
  lume_services/tests/scheduling/test_filesystem_results.py
Due: black, flake8

Start outlining file result docs
  docs/services/scheduling_service.md
Due: none

Check in file handler for scheduling
  lume_services/scheduling/files.py
Due: black, flake8

Change load_file_result to load_file
  lume_services/scheduling/files.py
Due: black, flake8

Remove specific result for file
  lume_services/scheduling/prefect/results/file.py
Due: black, flake8
