Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Check in correct import path
  lume_services/services/data/models/db/mysql.py
Due: black, flake8

Move model to data
  docs/data.md
  docs/model_registry.md
Due: none

Restructure dev docs
  docs/developer/data.md
Due: none

Rename to setup
  docs/developer/setup.md
Due: none

Rename results service
  docs/services/results_db_service.md
Due: none

Check in mkdocs
  mkdocs.yml
Due: none

Check in requirements
  dev-requirements.txt
  docs-requirements.txt
  requirements.txt
Due: none

Check in LICENSE
  LICENSE
Due: none

Check in TODO
  TODO.md
Due: none

Check in context setup
  lume_services/context.py
Due: black, flake8

Format init
  lume_services/__init__.py
Due: black, flake8

Remove unused subdir
  lume_services/tests/services/__init__.py
Due: black, flake8

Check in utils tests
  lume_services/tests/test_utils.py
Due: black, flake8

Check in results scheduling tests
  lume_services/tests/scheduling/test_result_tasks.py
Due: black, flake8

Check in scheudling service
  lume_services/services/scheduling/__init__.py
Due: black, flake8

Check in scheduling code
  lume_services/services/scheduling/backends/kubernetes.py
  lume_services/services/scheduling/backends/local.py
  lume_services/services/scheduling/files/__init__.py
  lume_services/services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Add scheduling to developer
  mkdocs.yml
Due: none

Check in generic w/ type annotations
  lume_services/data/results/generic.py
Due: black, flake8

Check in file
  lume_services/data/files/__init__.py
Due: black, flake8

Check in latest flow-of-flow composing draft
  lume_services/services/scheduling/schema/flow_of_flows_schema.py
Due: black, flake8

Check in test flows
  lume_services/tests/files/flows/__init__.py
  lume_services/tests/files/flows/flow1.py
  lume_services/tests/files/flows/flow2.py
  lume_services/tests/files/flows/flow3.py
Due: black, flake8

Check in flows imports
  lume_services/tests/files/flows/__init__.py
Due: black, flake8

Add flow of flows yaml
  lume_services/tests/files/__init__.py
Due: black, flake8

Add flow of flows yaml
  lume_services/tests/files/flow_of_flows.yaml
Due: none

Check in updated docs
  docs/api/data/files.md
  docs/api/data/files/serializers.md
  docs/api/services/data/files/file_service.md
  docs/api/services/data/files/filesystems.md
  docs/todo.md
  mkdocs.yml
Due: none

Update docs action
  .github/workflows/build_docs.yml
Due: none

Check in docs requirements with pins
  docs-requirements.txt
Due: none

Fix pinning of docs-requirements
  docs-requirements.txt
Due: none

Check in pytest ini
  pytest.ini
Due: none

Check in fixtures
  lume_services/tests/fixtures/config.py
  lume_services/tests/fixtures/docker.py
  lume_services/tests/fixtures/services/models.py
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Check in docker compose
  conftest.py
  lume_services/tests/files/docker-compose.yml
  pytest.ini
Due: black

Change file_system_identifier to filesystem_identifier
  lume_services/data/files/__init__.py
  lume_services/data/results/generic.py
  lume_services/tests/scheduling/backends/__init__.py
  lume_services/tests/scheduling/backends/test_kubernetes_backend.py
Due: black, flake8

Check in docker backend
  lume_services/services/scheduling/backends/__init__.py
  lume_services/services/scheduling/backends/docker.py
Due: black, flake8

Check in docs todo
  docs/todo.md
Due: none

Correct schema tool path
  lume_services/cli/modeling/schema.py
Due: black, flake8

Fix filesystem identifier var name
  lume_services/tests/fixtures/services/results.py
Due: black, flake8

Fix filesystem identifier var name
  lume_services/tests/data/test_files.py
  lume_services/tests/data/test_results.py
Due: black, flake8

Add setup docs
  docs/developer/setup.md
Due: none

Try dropping init path
  docs/api/data/files.md
Due: none

Fix naming of db service
  lume_services/services/data/models/db/db.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^lume_services and \.py$
