Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Fix result references
  lume_services/tests/test_results.py
Due: black, flake8

Check in conftest
  conftest.py
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Fix results
  lume_services/tests/test_results.py
Due: black, flake8

Update backend, dockerfile, and entrypoints
  Dockerfile
  lume_services/docker/files/entrypoint.sh
  lume_services/tests/scheduling/test_backends.py
Due: black, flake8

Correct datetime handling
  lume_services/results/generic.py
  lume_services/results/impact.py
Due: black, flake8

Fix array in result
  lume_services/tests/test_results.py
Due: black, flake8

Fix run config path
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_backends.py
Due: black, flake8

Fix string formatting time
  lume_services/results/generic.py
Due: black, flake8

Addd array back
  lume_services/tests/test_results.py
Due: black, flake8

Correct path
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Do not check floats in df
  lume_services/tests/test_results.py
Due: black, flake8

Fix id reference
  lume_services/tests/test_results.py
Due: black, flake8

Fix remaining results methods
  lume_services/tests/test_results.py
Due: black, flake8

Fix client connect
  lume_services/tests/test_results.py
Due: black, flake8

Fix subscript
  lume_services/tests/test_results.py
Due: black, flake8

Check in fixed entrypoint
  lume_services/docker/files/entrypoint.sh
  lume_services/tests/flows/setup.py
Due: black, flake8

Fix module path
  lume_services/tests/flows/lume_services_test_flows/failure_flow.py
  lume_services/tests/flows/lume_services_test_flows/flow1.py
  lume_services/tests/flows/lume_services_test_flows/flow2.py
  lume_services/tests/flows/lume_services_test_flows/flow3.py
Due: black, flake8

Correct task labels
  lume_services/tests/scheduling/test_tasks.py
Due: black, flake8

Check in corrected compose server
  conftest.py
  lume_services/docker/files/docker-compose.yml
Due: black

Check in collections and config
  lume_services/tests/test_config.py
  lume_services/tests/test_results.py
Due: black, flake8

Check in conftest
  conftest.py
Due: black

Add missing env vars
  conftest.py
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Clean up conflicting fixtures
  lume_services/tests/scheduling/test_tasks.py
  lume_services/tests/test_config.py
Due: black, flake8

Cleanup
  conftest.py
  lume_services/tests/test_config.py
  lume_services/tests/test_results.py
Due: black, flake8

Check in result fixes
  lume_services/tests/test_config.py
  lume_services/tests/test_results.py
Due: black, flake8

Fix docker tag
  conftest.py
Due: black

Fix lume-env passing in local config
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Fix env
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Check in fixed env
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Drop local docker config
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Check in docs
  docs/demo.md
  docs/developer/docker_image.md
  docs/developer/services/models.md
  docs/developer/services/results.md
  docs/developer/todo.md
  docs/examples/Demo.ipynb
  docs/index.md
  docs/services/results.md
Due: none

Check in docker compose
  lume_services/docker/files/docker-compose.yml
Due: none

Fix badges in index
  docs/index.md
Due: none

Correct formatting db hosts
  lume_services/docker/files/docker-compose.yml
Due: none

Give auth mech type
  lume_services/services/results/mongodb.py
Due: black, flake8

Add missing configure
  lume_services/tests/flows/lume_services_test_flows/flow3.py
Due: black, flake8

Check in docker-compose with corrected env vars
  lume_services/docker/files/docker-compose.yml
Due: none

Correctly use slugs
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Fix pwd formatting in docker-compose
  lume_services/docker/files/docker-compose.yml
Due: none

Fix query representation for results
  lume_services/results/generic.py
  lume_services/utils.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^lume_services and \.py$
