Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Drop backend test
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

Apply config before starting client
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Drop extra fixture from flow sig
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Move results db into service file
  lume_services/services/results/__init__.py
  lume_services/services/results/service.py
Due: black, flake8

Use backend util to save server
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Pin pydantic
  environment.yml
  requirements.txt
Due: none

Remove exclusions for now
  setup.py
Due: black

Add flow of flows error
  lume_services/errors.py
Due: black, flake8

Fix scoping of mysql_service
  lume_services/tests/fixtures/services/models.py
Due: black, flake8

Drop forced exclusion
  lume_services/tests/fixtures/services/results.py
Due: black, flake8

Correct tests for prefect
  lume_services/tests/test_config.py
Due: black, flake8

Correct host_port
  lume_services/tests/test_config.py
Due: black, flake8

Check in flows
  lume_services/flows/flow.py
  lume_services/flows/flow_of_flows.py
Due: black, flake8

Add relationship
  lume_services/services/models/db/schema.py
Due: black, flake8

Check in test updates
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/test_filesystems.py
  lume_services/tests/test_models.py
Due: black, flake8

Check in flow of flows
  lume_services/services/models/model_service.py
  lume_services/services/results/__init__.py
Due: black, flake8

Fix manifest for template path
  MANIFEST.in
Due: none

Create utils file for results
  lume_services/results/__init__.py
  lume_services/results/utils.py
Due: black, flake8

Check in scheduling subdir
  docs/api/services/data/models.md
  docs/api/services/data/results.md
  docs/api/services/scheduling/scheduling.md
Due: none

Move model service
  docs/api/services/models/models.md
Due: none

Remove unused results file
  docs/api/services/results.md
Due: none

Rename model_service file to service
  lume_services/services/models/__init__.py
  lume_services/services/models/service.py
  lume_services/tests/fixtures/services/models.py
  lume_services/tests/test_models.py
Due: black, flake8

Check in file utils
  lume_services/files/__init__.py
  lume_services/files/file.py
  lume_services/files/utils.py
Due: black, flake8

Remove DeploymentFlow
  lume_services/services/models/service.py
Due: black, flake8

Correct db init
  lume_services/services/models/db/__init__.py
Due: black, flake8

initialize errors
  lume_services/services/scheduling/backends/local.py
Due: black, flake8

Add local docstring
  lume_services/errors.py
Due: black, flake8

Drop DeploymentFlows
  scripts/build_schema_diagrams.py
Due: black

Check in docs api
  docs/api/config.md
  docs/api/errors.md
  docs/api/files/files.md
  docs/api/files/utils.md
  docs/api/flows.md
  docs/api/models/models.md
  docs/api/results.md
  docs/api/services/files/files.md
  docs/api/services/models/db.md
  docs/api/services/models/models.md
  docs/api/services/results/db.md
  docs/api/services/results/results.md
  docs/api/services/scheduling/backends.md
  docs/api/services/scheduling/scheduling.md
  docs/api/utils.md
Due: none

Check in updated schema
  lume_services/services/models/db/schema.py
Due: black, flake8

Move docker code
  lume_services/docker/LICENSE_docker.txt
  lume_services/docker/compose.py
  lume_services/tests/fixtures/docker.py
Due: black, flake8

Correct scoping
  lume_services/docker/compose.py
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/test_filesystems.py
  lume_services/tests/test_models.py
Due: black, flake8

Add logging to mysqldb
  lume_services/services/models/db/mysql.py
Due: black, flake8

Correct service calls
  lume_services/services/models/service.py
Due: black, flake8

Correct backend handling
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Check in mkdocs yaml and readme
  README.md
  mkdocs.yml
Due: none

Try adding dynamic badge
  .github/workflows/tests.yml
  README.md
Due: none

Try adding dynamic badge
  .github/workflows/tests.yml
Due: none

Restrict coverage reporting to slaclab and add black
  .github/workflows/tests.yml
  dev-environment.yml
  dev-requirements.txt
Due: none

Add scheduling test
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^lume_services and \.py$
