Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Drop graphql env vars
  conftest.py
  lume_services/docker/files/docker-compose.yml
  pytest.ini
Due: black

Drop graphql from docs
  docs/config.md
  docs/demo.md
Due: none

Drop all extra configs
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Fix missing imports
  lume_services/services/scheduling/__init__.py
  lume_services/services/scheduling/backends/__init__.py
  pytest.ini
Due: black, flake8

Drop hasura
  conftest.py
Due: black

Drop extra prefect stuff
  lume_services/tests/fixtures/docker.py
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Correct hasura and graphql check
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

Correct config test
  lume_services/tests/test_config.py
Due: black, flake8

Correct file service link
  docs/index.md
Due: none

Add ui toggle
  lume_services/docker/compose.py
  lume_services/docker/files/docker-compose.yml
Due: black, flake8

Launch services with ui
  lume_services/cli/docker.py
Due: black, flake8

Apply prefect config during lume-service configuration
  lume_services/config.py
Due: black, flake8

Centralize lumeservicesettings
  conftest.py
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/test_config.py
Due: black, flake8

fix services settings name
  conftest.py
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/test_config.py
  pytest.ini
Due: black, flake8

Drop separated prefect config
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

Use scheduling service instead of prefect services
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Fix error handling
  lume_services/docker/compose.py
Due: black, flake8

Change prefect_client to class scope
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Try setting manually in docker backend
  lume_services/tests/scheduling/test_backends.py
Due: black, flake8

Force backend registered first
  lume_services/tests/scheduling/test_backends.py
Due: black, flake8

Make flow fixtures classes
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Continue to coverage build
  .github/workflows/tests.yml
Due: none

Add setting apply before project
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Try coverage on own repo
  .github/workflows/tests.yml
Due: none

Apply before using client
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Try explicit check for client construction
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

use always
  .github/workflows/tests.yml
Due: none

Fix environment file
  environment.yml
Due: none

Drop api in client construct
  conftest.py
  lume_services/docker/compose.py
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Fixe settings handling
  conftest.py
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/scheduling/test_scheduling_service.py
  lume_services/tests/test_config.py
Due: black, flake8

Drop api reference
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Explicitely set endpoint for server
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Fix fixture configuration
  conftest.py
Due: black

Fix compose with ui command
  lume_services/docker/compose.py
Due: black, flake8

Check in all corrected tests
  lume_services/tests/fixtures/services/scheduling.py
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
Due: black, flake8

Use prefect context for managing connections
  lume_services/services/scheduling/backends/server.py
Due: black, flake8

Check in scheduling service
  lume_services/tests/fixtures/services/scheduling.py
Due: black, flake8

Fix prefect context
  lume_services/tests/scheduling/test_backends.py
  lume_services/tests/scheduling/test_flows.py
  lume_services/tests/scheduling/test_scheduling_service.py
Due: black, flake8

Fix host/port for pytest
  pytest.ini
Due: none

Remove redundant lume-base
  dev-environment.yml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: ^lume_services and \.py$
