Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in lume_services
      files: ^lume_services

Fix handling of mounted filesystem
  lume_services/config.py
Due: black, flake8

Drop mysql specific in favor of sqlalchemy dialects
  lume_services/services/models/db/db.py
  lume_services/services/models/db/mysql.py
Due: black, flake8

Drop mysql specific in favor of sqlalchemy dialects
  lume_services/services/models/db/__init__.py
  lume_services/services/models/db/db.py
Due: black, flake8

Correct imports
  lume_services/services/models/__init__.py
Due: black, flake8

Use sqlalchemy
  lume_services/tests/fixtures/services/models.py
Due: black, flake8

Drop mysql specific in favor of sqlalchemy dialects
  lume_services/config.py
Due: black, flake8

Drop mysql specific in favor of sqlalchemy dialects
  conftest.py
Due: black

Drop BaseModel in ModelDB
  lume_services/services/models/db/db.py
Due: black, flake8

Check in docker-compose updates
  lume_services/docker/files/__init__.py
  lume_services/docker/files/docker-compose.yml
  lume_services/docker/files/model-db-init.sql
  scripts/update_docker_compose_schema.py
Due: black, flake8

Check in WIP sqlalchemy docs
  docs/developer/services/models.md
Due: none

Check in WIP docs
  docs/api/services/models/db.md
  docs/config.md
  docs/demo.md
  docs/index.md
Due: none

Remove blinker dep
  dev-environment.yml
  environment.yml
  requirements.txt
Due: none

Move environment into docker files
  lume_services/docker/files/environment.yml
Due: none

Update entrypoint to differentiate conda offline
  entrypoint.sh
Due: none

Update entrypoint
  lume_services/docker/files/entrypoint.sh
Due: none

Update dockerfile with new paths
  Dockerfile
Due: none

Check in updated errors with dep resolution
  lume_services/errors.py
Due: black, flake8

Check in WIP model interface
  lume_services/models/__init__.py
  lume_services/models/environment/__init__.py
  lume_services/models/environment/solver.py
  lume_services/models/model.py
Due: black, flake8

Clean up docstrings
  lume_services/results/utils.py
Due: black, flake8

Add missing docs
  lume_services/results/utils.py
Due: black, flake8

Add environment yaml to files
  lume_services/docker/files/__init__.py
Due: black, flake8

Check in cli
  lume_services/cli/cli.py
  lume_services/cli/docker_compose.py
Due: black, flake8

check in errors
  lume_services/errors.py
Due: black, flake8

Check in updated scripts
  scripts/build_configuration_table.py
  scripts/build_schema_diagrams.py
  scripts/update_docker_compose_schema.py
Due: black

add docstrings
  lume_services/services/models/service.py
Due: black, flake8

Use relative paths for docker
  lume_services/docker/compose.py
  lume_services/docker/files/docker-compose.yml
  lume_services/docker/files/model-db-init.sql
Due: black, flake8

include docker files
  MANIFEST.in
Due: none

Remove hard-coded logging
  conftest.py
Due: black

Add superfences
  mkdocs.yml
Due: none

Check in docs
  docs/developer/configuration.md
  docs/developer/docker_image.md
  docs/developer/services/models.md
  docs/developer/setup.md
  docs/developer/testing.md
  docs/developer/todo.md
  docs/examples/flow_of_flows.ipynb
  docs/files/env_vars.md
  docs/files/model_db_schema.png
  docs/files/model_db_uml.png
Due: none

Add logging and typing to config
  lume_services/config.py
Due: black, flake8

Correct env var call
  lume_services/tests/test_config.py
Due: black, flake8

Do not connect immediately
  lume_services/services/results/mongodb.py
Due: black, flake8

add schema items
  lume_services/services/models/db/__init__.py
Due: black, flake8

Check in notebook
  docs/developer/notebooks/CommonSetup.ipynb
Due: none

Check in docs
  docs/developer/notebooks/Model.ipynb
  docs/developer/services/models.md
  docs/model_packaging.md
Due: none

Exclude tests
  setup.py
Due: black

Add python version utility
  lume_services/utils.py
Due: black, flake8

Update config and errors
  lume_services/config.py
  lume_services/errors.py
Due: black, flake8
