Repository slaclab/lume-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Update schema
  lume_services/services/models/db/schema.py
Due: black, flake8

Check in updated workflows
  .github/workflows/build_docs.yml
  .github/workflows/build_sdist.yml
Due: none

Add sdist
  .github/workflows/build_sdist.yml
Due: none

Fix syntax error
  .github/workflows/build_sdist.yml
Due: none

check in tests
  lume_services/tests/cli/docker.py
  lume_services/tests/test_db_schema.py
  lume_services/tests/test_models.py
Due: black, flake8

Prefix docker with test
  lume_services/tests/cli/test_docker.py
Due: black, flake8

Check in WIP models
  lume_services/models/environment/solver.py
  lume_services/models/model.py
Due: black, flake8

Check in WIP docs
  docs/developer/services/models.md
  docs/developer/setup.md
Due: none

Check in cli and demo
  docs/cli.md
  docs/demo.md
Due: none

Fix manifest
  MANIFEST.in
Due: none

Add mamba dep
  dev-environment.yml
Due: none

Check in mamba addition
  lume_services/docker/files/environment.yml
  requirements.txt
Due: none

Add reqirements to manifest
  MANIFEST.in
Due: none

Add missing setup.py
  MANIFEST.in
Due: none

Use wildcard for requirements
  MANIFEST.in
Due: none

Drop dev requirements in setup.py
  setup.py
Due: black

Remove unused requirements
  dev-requirements.txt
  docs-requirements.txt
Due: none

Check in errors
  lume_services/errors.py
Due: black, flake8

check in solver
  lume_services/models/environment/solver.py
Due: black, flake8

Update manifest
  MANIFEST.in
Due: none

fix repr
  lume_services/services/models/db/schema.py
Due: black, flake8

Add resolution test
  lume_services/tests/test_models.py
Due: black, flake8

update schema
  lume_services/docker/files/model-db-init.sql
Due: none

Add type
  lume_services/services/models/db/schema.py
Due: black, flake8

Remove extra installation stuff
  .github/workflows/build_sdist.yml
Due: none

Check in dependency storage
  lume_services/services/models/service.py
Due: black, flake8

Check in shema
  lume_services/services/models/db/schema.py
Due: black, flake8

Check in schema
  lume_services/docker/files/model-db-init.sql
Due: none

Check in env solver
  lume_services/models/environment/__init__.py
  lume_services/models/environment/solver.py
Due: black, flake8

Check in env
  lume_services/environment/__init__.py
  lume_services/environment/solver.py
Due: black, flake8

Check in entrypoint
  lume_services/docker/files/entrypoint.sh
Due: none

Check in solver
  lume_services/environment/solver.py
Due: black, flake8

Check in solver and model
  lume_services/environment/solver.py
  lume_services/flows/flow.py
  lume_services/models/model.py
  lume_services/tests/test_models.py
Due: black, flake8

Check in config and errors
  lume_services/config.py
  lume_services/errors.py
Due: black, flake8

Check in scripts
  scripts/build_configuration_table.py
Due: black

Check in docs
  docs/demo.md
  docs/developer/notebooks/Model.ipynb
  docs/developer/services/models.md
  docs/developer/setup.md
  docs/examples/flow_of_flows.ipynb
Due: none

Check in env and dockerfile
  Dockerfile
  README.md
  dev-environment.yml
Due: none

Fix init import
  lume_services/services/models/db/__init__.py
Due: black, flake8

Check in model tests
  lume_services/tests/test_models.py
Due: black, flake8

Fix dockerfile issue with python version and base env
  Dockerfile
  lume_services/docker/compose.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^lume_services and \.py$
